@model Data_Passing.Models.Person
@{
    ViewBag.Title = "Another";
}

<h2>Another</h2>

<table>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td>Confirm Password:</td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td>Blood Group:</td>
        <td>@Model.BloodGroup</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>@Model.Gender </td>
    </tr>
    <tr>
        <td>Date Of Birth:</td>
        <td>@Model.DateOfBirth</td>
    </tr>
</table>